body.html{
    margin: 0;
    }
    
    .navbar{
    background: blue;
    padding: 20px;
    color:white;
    height: 50px;
    }
    
    .navbar .brand{
    margin: 0;
    font-size: 2em;
    color:white;
    float :left;
    height : 60px;
    text-transform: uppercase;
    padding-top: 10px;
    }
    
    .navbar .links{
    float: right;
    }
    
    .navbar .links a{
    color: white;
    text-decoration: none;
    padding-left: 30px;
    }